/* .container {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
} */
.section {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }


  .navity {
    display: flex;
    padding: 14px 16px;
    text-align: center;
    justify-content: center;
    margin: 10 10 20px;
  }
.NavBar {
    display: flex;
    padding: 14px 16px;
    text-align: center;
   justify-content: center;
   margin: 0 0 20px;
}

.table {
    
    background-color: white;
}

.nav {
    display: flex;
    padding: 14px 16px;
    text-align: center;
    justify-content: center;
    margin: 10 0 20px;
}