/* .container {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
} */
.section {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }

.NavBar {
    padding: 14px 16px;
    text-align: center;
    float: right;
}

.table {
    
    background-color: white;
}

